* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #242121;
    --second-bg-color: rgb(87, 50, 76);
    --text-color: white;
    --main-color: #a591aa;
}
.skills-dd {
    background: var(--bg-color);
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);

}


.skills-section {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.skill {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-dd .heading h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    color: var(--text-color);
}


.skill-bar {
    width: 60%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 10px;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
}

.skill-percentage {
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: 10px 0 0 10px;
}

.skill-value {
    color: var(--second-bg-color);
    font-weight: 600;
    text-align: right;
    margin-left: 10px;
}

.html {
    width: 80%;
}

.css {
    width: 50%;
}

.javascript {
    width: 30%;
}

.skill i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent ;
    border: 0.2rem solid var(--second-bg-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--second-bg-color);
    margin-top: 3rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.skill i:hover{
    color : rgb(87, 50, 76);
    transform: scale(1.3);
    box-shadow: 0 0 25px var(--main-color);
    background-color: rgb(218, 213, 213);
}


